


.text-prova{
    color: #f0ca21 !important;
}


#header img{
    width: 150px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover; /*le estira y le da un peuqeño zoom*/
    filter: grayscale(50%);
}
#carousel{
    position: relative;

}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0,0, 0.5);
color: white;
}

#footer{
    background-image: linear-gradient(270deg, #ffe319 0, #f8d110 50%, #e9bf06 100%);
}

#footer a {
    color: rgba(255, 255, 255, 0.925);
    text-decoration: none;
    cursor: pointer;
}